@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus,
textarea:focus {
  outline: none;
}

.hero-form {
  border-radius: 0 0 12px 12px;
  border-bottom: double 2px transparent;
  border-top: 0;
  border-right: double 2px transparent;
  border-left: double 2px transparent;
  background-image: linear-gradient(rgba(17, 0, 19, 0.8), rgba(17, 0, 19, 0.8)),
    linear-gradient(90.44deg, #f3abff 0.18%, #8044ff 82%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  /* border: 2px solid; */
}

.top-area {
  position: relative;
  transform-style: preserve-3d;
  border-radius: 12px;
  z-index: 11200;
}
.top-area::before {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(90.44deg, #f3abff 0.18%, #8044ff 82%);
  filter: blur(0px);
  transform: translate3d(-9.5px, 6px, -1px);
  border-radius: inherit;
}

/* AUTH PAGE TODO */

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 9999px;
  font-size: 1rem;
  color: #98A2B3;
  font-weight: normal;
  border: 1px solid #d0d5dd;
  cursor: pointer;
  background-color: #F9FAFB;
  transition: background-image 0.3s ease, background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.tab:hover {
  background-color: #e1f0fd;
}

.tab-active {
  background-image: linear-gradient(90deg, #9e00ff 0%, #00ddff 100%);
  color: white;
  border: 1px solid transparent;
}
